#openhours_filter input {
    width: 80%;
}

#openhours_list {
    color: #68AE2C;
    text-decoration: none;
    list-style: none;
    overflow-y: scroll;
    height: 200px;
    -webkit-padding-start: 0;
}

#openhours_list li {
    display: block;
    padding-top: 3px;
    padding-bottom: 7px;
}

#openhours_list li:nth-child(odd) {
    background: #ddd;
}

#openhours_list .info {
    font-size: 8px;
    color: #333333;
    padding-top: 0.5em;
}

#openhours_list .info span {
    border-bottom: 1px dotted #333;
}

#openhours_list a:active, #openhours_list a:hover {
    color: #006600;
}

#openhours_list dl {
    display: none;
}

.oh-clearfix:after {
    content: ".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.oh_clearfix {
    display:inline-block;
}

* html .oh_clearfix {
    height:1%;
}

.oh_clearfix {
    display:block;
}

.oh_tooltip {
    position: absolute;
    left: 200px;
    z-index: 100;
    border: 1px solid #333;
    padding: 10px;
    background-color: #fff;
}
