{% extends "panel/panel.html" %}

{% load i18n static sekizai_tags %}

{% block content %}
    {% addtoblock "css" %}<link href="{% static "piplmesh/panel/openhours/panel.css" %}" rel="stylesheet" type="text/css" media="screen" />{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static "piplmesh/panel/openhours/panel.js" %}" type="text/javascript"></script>{% endaddtoblock %}
    <ul id="openhours_list" class="oh_clearfix"></ul>
    <form action="" id="openhours_filter">
        <img src="{% static "piplmesh/images/magnifying_glass.png" %}" alt="{% trans "Filter venues" %}" />
        <input type="text" id="filter_venues" />
    </form>
{% endblock %}
